/*  snes.css
    Custom SNES CSS file for Gamepad Viewer
    By: IPv6freely
    Adapted from eseca's SNES skins on Github
    https://github.com/eseca/custom-gamepadviewer-skins

    To use:
    - Go to gamepadviewer.com
    - Select Remap Buttons
    - Map buttons as appropriate. L and R should be mapped to LB and RB
    - Select Generate Custom URL
    - Enter the URL to this CSS file into the Custom CSS URL field
    - Copy and paste the URL
    - In OBS, create a new Browser source. Paste the URL.
    - Enjoy!


/* Define base controller sizing */
.controller {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*     display: none; */
    margin-top: 30px !important;
    margin-left: 0px !important;
}
.controller.snes{
    background: url(snes.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 970px;
    height: 424px;
    margin-left: -485px;
    margin-top: -212px;
}
.snes.disconnected {
    background: url(snes.svg);
    background-position: 0px -424px;
    background-repeat: no-repeat;
}
.snes.disconnected div {
    display: none;
}

/* SNES D-Pad */
.snes .dpad{
    position: absolute;
    width: 146px;
    height: 146px;
    top: 142px;
    left: 133px;
}
.snes .face{
    position: absolute;
}
.snes .face.up, .snes .face.down{
    width: 33.5px;
    height: 34px;
}
.snes .face.left, .snes .face.right{
    width: 34px;
    height: 33.5px;
}
.snes .face.up{
    left: 56px;
    top: 0;
    background-position: 92px 0px;
}
.snes .face.down{
    left: 56px;
    top: 112px;
    background-position: 131px 0;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.snes .face.left{
    top: 56px;
    left: 0;
    background-position: 0px 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.snes .face.right{
    top: 56px;
    right: 0px;
    background-position: 53px 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.snes .face.pressed{
    background: url(snes.svg);
    background-position-x: -1323px;
}


/* SNES L and R Bumpers */
.snes .bumpers{
    width: 759px;
    height: 34px;
    position: absolute;
    left: 104px;
}
.snes .bumper{
    width: 211px;
    height: 34px;
    background: url(snes.svg);
    background-position: -967px 0px;
    background-repeat: no-repeat;
    opacity: 0;
}
.snes .bumper.pressed{
    opacity: 1;
}
.snes .bumper.left{
    float: left;
}
.snes .bumper.right{
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/*  SNES Start and Select Buttons
    SELECT = .back
    START = .start
*/
.snes .arrows{
    position: absolute;
    width: 176px;
    height: 62px;
    top: 214px;
    left: 358px;
}
.snes .back, .snes .start{
    width: 71.5px;
    height: 61.5px;
}
.snes .back.pressed, .snes .start.pressed{
    background: url(snes.svg);
    background-position: -1177.5px 0px;
}
.snes .back{
    float: left;
}
.snes .start{
    float: right;
}

/* SNES ABXY Buttons */
.snes .abxy{
    position: absolute;
    width: 259px;
    height: 218px;
    top: 105px;
    left: 633px;
}
.snes .button{
    position: absolute;
    width:75px;
    height:75px;
}
.snes .button.pressed{
    background: url(snes.svg);
    background-position-x: -1249px;
}
.snes .b{
    top: 71px;
    right: 0px;
}
.snes .a{
    top: 143px;
    left: 92px;
}
.snes .y{
    left: 92px;
}
.snes .x{
    top: 71px;
}